@{
    ViewData["Title"] = "Weather Tracker Demo";
}
@model WeatherModel

<div class="text-center" style="margin-bottom:2%;">
    <h2 class="display-4 title">Weather App - Demo</h2>
    @using(Html.BeginForm("GetWeather","Home"))
    {
        <div class="input-group input-group-lg mb-3" style="width:70%; margin:auto;">
            @Html.Label("City", "Enter City:", new { @class = "input-group-text" })
            @Html.TextBoxFor(m => m.Location, new { placeholder = "London, England", @class = "form-control"})
        </div>
        <input type="submit" value="Get Weather" class="btn btn-lg btn-primary"/>
    }
    <br />
    <hr />
    @if(!String.IsNullOrEmpty(Model.Location))
    {
        <!--Current-->
        <div class="shadow-lg container weather-current">
            <div class="row">
                <div class="col border-end border-3" style="border-color:blue !important;">
                    <img src='@Url.Content($"~/images/WeatherIcon/{Model.TwelveHourForecast[0].Img}.png")' style="width:16.6rem; height:10rem;" /> <!--Image for what weather is-->
                    <h2>@Model.TwelveHourForecast[0].Temperature°F</h2>
                    <h4>(Feels Like: @Model.TwelveHourForecast[0].FeelsLike°F)</h4>
                    <h3>@Model.TwelveHourForecast[0].Description</h3>
                </div>

                <div class="col">
                    <div class="container" style="margin-top:3rem;">
                        <div class="row row-cols-3 gx-3 gy-4">
                            <div class="col">
                                <h3>@Model.FiveDayForecast[1].High°F</h3>
                                <h5>High</h5>
                            </div>

                            <div class="col">
                                <h3>@Model.FiveDayForecast[1].Humidity%</h3>
                                <h5>Humidity</h5>
                            </div>

                            <div class="col">
                                <h4>@Model.FiveDayForecast[1].PrecipitationChance%</h4>
                                <h5>Precipitation Chance</h5>
                            </div>

                            <div class="col">
                                <h3>@Model.FiveDayForecast[1].Low°F</h3>
                                <h5>Low</h5>
                            </div>

                            <div class="col">
                                <h4>@Model.FiveDayForecast[1].Wind</h4>
                                <h5>Wind</h5>
                            </div>

                            <div class="col">
                                <h4>@Model.FiveDayForecast[1].UV</h4>
                                <h5>UV</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @foreach(var hour in Model.TwelveHourForecast)
        {
            <div class="shadow weather-twelve-hour">
                <h5>@hour.Timestamp.ToLocalTime().ToString("h:mm tt")</h5>
                <img src='@Url.Content($"~/images/WeatherIcon/{hour.Img}.png")' style="width:8.3rem; height:5rem;" /> <!--Image for what weather is-->
                <h5>@hour.Temperature°F</h5>
            </div>
        }       
        <br />
        <hr />
        <h2>5 Day Forecast</h2>
        <ul class="list-group">
            @foreach(var day in Model.FiveDayForecast)
            {
                <li class="weather-five-day shadow-lg">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-2">
                                <h5 style="padding:1.6rem">@day.Timestamp.ToLocalTime().DayOfWeek</h5>
                            </div>
                            <div class="col-sm-1">
                                <img src='@Url.Content($"~/images/WeatherIcon/{day.Img}.png")' style="width:8.3rem; height:5rem;" /> <!--Image for what weather is-->
                            </div>
                            <div class="col" style="padding:.6rem;">
                                <h4>@day.High</h4>
                                <h6>High</h6>
                            </div>
                            <div class="col" style="padding:.6rem;">
                                <h4>@day.Low</h4>
                                <h6>Low</h6>
                            </div>
                            <div class="col hide-mobile" style="padding:.6rem;">
                                <h5>@day.Humidity%</h5>
                                <h6>Humidity</h6>
                            </div>
                            <div class="col hide-mobile" style="padding:.6rem;">
                                <h5>@day.PrecipitationChance%</h5>
                                <h6>Precip. Chance</h6>
                            </div>
                            <div class="col hide-mobile" style="padding:.6rem;">
                                <h5>@day.Wind</h5>
                                <h6>Wind</h6>
                            </div>
                            <div class="col hide-mobile" style="padding:.6rem;">
                                <h4>@day.UV</h4>
                                <h6>UV</h6>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>       
    }
</div>
